<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post" th:object="${review}" action="/review/edit">
    <div class="form-group">
        <label th:for="title">Title</label>
        <input class="form-control" th:field="*{title}" />
        <span th:errors="*{title}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="text">Text</label>
        <input class="form-control" th:field="*{text}" />
        <span th:errors="*{text}" class="error"></span>
    </div>
    <input type="hidden" name="reviewId" th:value="${reviewId}" />
    <input type="submit" value="Finish Edit" />
</form>

</body>
</html>