<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<p th:unless="${reviews} and ${reviews.size()}">No media is currently available :(</p>

<ul>
    <li th:each="review : ${reviews}"><a th:href="'/review/view/' + ${review.id}"><span th:text="${review.title} + ' (' + ${review.media.title} + ')'"></span></a></li>
</ul>

<p><a href="/review/add">Add Review</a></p>

</body>
</html>