<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">
    <h1 th:text="${title}">Default Title</h1>
    <nav th:replace="fragments :: navigation"></nav>

    <form th:action="@{/search}">
        <h2>Search by:</h2>

        <p>
            <span th:each="type : ${types}">
                <input
                        type="radio"
                        name="searchType"
                        th:id="${type}"
                        th:value="${type}"
                        th:checked="${type == 'All'}"/>
                <label th:for="${type}" th:text="${type}"></label>
            </span>
        </p>

        <p>
            <label for="searchTerm">Search word:</label>
            <input type="text" name="searchTerm" id="searchTerm" />
        </p>

        <input type="submit" value="Search" />
    </form>

    <hr />

    <h3 th:if="${message}" th:text="${message}"></h3>

    <div th:if="${items} and ${items.size()}">
        <h3 th:text="${items.size() + ' Result(s)'}"></h3>
        <ul>
        <li th:each="item : ${items}">
            <span th:if="${item instanceof T(org.launchcode.mediareview.models.Review)}">
            <a th:href="'/review/view/' + ${item.id}"><span th:text="${item.title} + ' (' + ${item.media.title} + ')'"></span></a>
            </span>
            <span th:if="${item instanceof T(org.launchcode.mediareview.models.Media)}">
            <a th:href="'/media/view/' + ${item.id}"><span th:text="${item.title}"></span></a>
            </span>
        </li>
        </ul>
    </div>
</body>
</html>